*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background: url('../img/hero.jpg');
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}

#logo{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    background: green;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    line-height: 80px;
    float: left;


}